In [29]:
import pyspark

In [57]:
import pandas as pd
pd.read_csv('test2.csv')

      Name  Age         City
0    Alice   30     New York
1      Bob   25  Los Angeles
2  Charlie   35      Chicago
3    David   28      Houston
4      Eva   32      Phoenix

In [44]:
from pyspark.sql import SparkSession

In [46]:
spark = SparkSession.builder.appName('Practise').getOrCreate()

In [48]:
spark

In [55]:
df_spark = spark.read.csv('test2.csv')

In [58]:
df_spark

DataFrame[_c0: string, _c1: string, _c2: string]

In [62]:
df_spark.show()

+-------+---+-----------+
|    _c0|_c1|        _c2|
+-------+---+-----------+
|   Name|Age|       City|
|  Alice| 30|   New York|
|    Bob| 25|Los Angeles|
|Charlie| 35|    Chicago|
|  David| 28|    Houston|
|    Eva| 32|    Phoenix|
+-------+---+-----------+

In [67]:
df_spark2 = spark.read.option('header','true').csv('test2.csv')

In [68]:
df_spark2.show()

+-------+---+-----------+
|   Name|Age|       City|
+-------+---+-----------+
|  Alice| 30|   New York|
|    Bob| 25|Los Angeles|
|Charlie| 35|    Chicago|
|  David| 28|    Houston|
|    Eva| 32|    Phoenix|
+-------+---+-----------+

In [70]:
type(df_spark2)

pyspark.sql.dataframe.DataFrame

In [72]:
df_spark2.head(3)

[Row(Name='Alice', Age='30', City='New York'),
 Row(Name='Bob', Age='25', City='Los Angeles'),
 Row(Name='Charlie', Age='35', City='Chicago')]