In [29]:
import pyspark

In [26]:
!pip list

Package                   Version
------------------------- --------------
anyio                     4.4.0
argon2-cffi               23.1.0
argon2-cffi-bindings      21.2.0
arrow                     1.3.0
asttokens                 2.4.1
async-lru                 2.0.4
attrs                     23.2.0
Babel                     2.15.0
beautifulsoup4            4.12.3
bleach                    6.1.0
certifi                   2024.6.2
cffi                      1.16.0
charset-normalizer        3.3.2
colorama                  0.4.6
comm                      0.2.2
debugpy                   1.8.2
decorator                 5.1.1
defusedxml                0.7.1
executing                 2.0.1
fastjsonschema            2.20.0
fqdn                      1.5.1
h11                       0.14.0
httpcore                  1.0.5
httpx                     0.27.0
idna                      3.7
ipykernel                 6.29.4
ipython                   8.25.0
ipywidgets                8.1.3
isoduration               20.11.0
jedi                      0.19.1
Jinja2                    3.1.4
json5                     0.9.25
jsonpointer               3.0.0
jsonschema                4.22.0
jsonschema-specifications 2023.12.1
jupyter                   1.0.0
jupyter_client            8.6.2
jupyter-console           6.6.3
jupyter_core              5.7.2
jupyter-events            0.10.0
jupyter-lsp               2.2.5
jupyter_server            2.14.1
jupyter_server_terminals  0.5.3
jupyterlab                4.2.3
jupyterlab_pygments       0.3.0
jupyterlab_server         2.27.2
jupyterlab_widgets        3.0.11
MarkupSafe                2.1.5
matplotlib-inline         0.1.7
mistune                   3.0.2
nbclient                  0.10.0
nbconvert                 7.16.4
nbformat                  5.10.4
nest-asyncio              1.6.0
notebook                  7.2.1
notebook_shim             0.2.4
numpy                     2.0.0
overrides                 7.7.0
packaging                 24.1
pandas                    2.2.2
pandocfilters             1.5.1
parso                     0.8.4
pip                       24.1.1
platformdirs              4.2.2
prometheus_client         0.20.0
prompt_toolkit            3.0.47
psutil                    6.0.0
pure-eval                 0.2.2
py4j                      0.10.9.7
pycparser                 2.22
Pygments                  2.18.0
pyspark                   3.5.1
python-dateutil           2.9.0.post0
python-json-logger        2.0.7
pytz                      2024.1
pywin32                   306
pywinpty                  2.0.13
PyYAML                    6.0.1
pyzmq                     26.0.3
qtconsole                 5.5.2
QtPy                      2.4.1
referencing               0.35.1
requests                  2.32.3
rfc3339-validator         0.1.4
rfc3986-validator         0.1.1
rpds-py                   0.18.1
Send2Trash                1.8.3
setuptools                65.5.0
six                       1.16.0
sniffio                   1.3.1
soupsieve                 2.5
stack-data                0.6.3
terminado                 0.18.1
tinycss2                  1.3.0
tornado                   6.4.1
traitlets                 5.14.3
types-python-dateutil     2.9.0.20240316
typing_extensions         4.12.2
tzdata                    2024.1
uri-template              1.3.0
urllib3                   2.2.2
wcwidth                   0.2.13
webcolors                 24.6.0
webencodings              0.5.1
websocket-client          1.8.0
widgetsnbextension        4.0.11

In [35]:
!pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.1.4-py2.py3-none-any.whl.metadata (2.5 kB)
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-1.1.0-py3-none-any.whl.metadata (1.8 kB)
Downloading openpyxl-3.1.4-py2.py3-none-any.whl (251 kB)
   ---------------------------------------- 0.0/251.4 kB ? eta -:--:--
   ------ -------------------------------- 41.0/251.4 kB 653.6 kB/s eta 0:00:01
   -------------- ------------------------- 92.2/251.4 kB 1.0 MB/s eta 0:00:01
   -------------- ------------------------- 92.2/251.4 kB 1.0 MB/s eta 0:00:01
   --------------------- ---------------- 143.4/251.4 kB 774.0 kB/s eta 0:00:01
   ----------------------------- -------- 194.6/251.4 kB 903.5 kB/s eta 0:00:01
   ---------------------------------- --- 225.3/251.4 kB 915.1 kB/s eta 0:00:01
   -------------------------------------  245.8/251.4 kB 885.4 kB/s eta 0:00:01
   -------------------------------------- 251.4/251.4 kB 770.3 kB/s eta 0:00:00
Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.1.4

In [57]:
import pandas as pd
pd.read_csv('test2.csv')

      Name  Age         City
0    Alice   30     New York
1      Bob   25  Los Angeles
2  Charlie   35      Chicago
3    David   28      Houston
4      Eva   32      Phoenix

In [43]:
import pandas as pd
pd.read_csv('test.csv')

    Name Age
0  Gaurav 22
1    Anil 53
2  Pushpa 50
3  Manali 23
4  Hemant 40

In [44]:
from pyspark.sql import SparkSession

In [46]:
spark = SparkSession.builder.appName('Practise').getOrCreate()

In [48]:
spark

In [55]:
df_spark = spark.read.csv('test2.csv')

In [58]:
df_spark

DataFrame[_c0: string, _c1: string, _c2: string]

In [62]:
df_spark.show()

+-------+---+-----------+
|    _c0|_c1|        _c2|
+-------+---+-----------+
|   Name|Age|       City|
|  Alice| 30|   New York|
|    Bob| 25|Los Angeles|
|Charlie| 35|    Chicago|
|  David| 28|    Houston|
|    Eva| 32|    Phoenix|
+-------+---+-----------+

In [67]:
df_spark2 = spark.read.option('header','true').csv('test2.csv')

In [66]:
df_spark2.show()

+-------+---+-----------+
|   Name|Age|       City|
+-------+---+-----------+
|  Alice| 30|   New York|
|    Bob| 25|Los Angeles|
|Charlie| 35|    Chicago|
|  David| 28|    Houston|
|    Eva| 32|    Phoenix|
+-------+---+-----------+